@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    @apply bg-white;
    @apply text-gray-700;
    font-family: "Lato", sans-serif;
  }
}

.active {
  @apply bg-black text-white;
}
